<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "layouts :: header"> </head>

<body class = "text-center">
<nav th:replace = "layouts :: navbar"> </nav>
<body>
<br>
<h3>Project Management System</h3>

<!-- <form th:action="@{/}" th:object ="${student}" method = "POST">
<button name = "login" class = "btn btn-primary col-2" type="submit">Login</button>
<button name = "logout" class = "btn btn-primary col-2" type="submit">Logout</button>
</form> -->
	<br>
	<div class="container">
		<img src = "../static/images/working-unsplash.jpg" alt="working"  th:src="@{images/working-unsplash.jpg}">
	</div>
	<br>
<!-- 	<button name = "" class = "btn btn-primary col-2" type="submit">Dashboard</button> -->
<!--  Add New Employee Button -->
			<a th:href="@{/dashboard}"
				class="btn btn-primary col-2"> 
				Dashboard
			</a> 
</body>
</html>